@model IEnumerable<ManagementData.Service.ViewModel.UserViewModel>
@{
    ViewData["Title"] = "Data";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            All User
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Admin</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">All User</h3>
                        <button class="btn btn-success btn-add-user" style="float:right;margin-right:3%" data-toggle="modal" data-target="#modal-add-user">Add User</button>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-box-tool-user-minus" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool btn-box-tool-user-remove" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Full Name</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Email</td>
                                        <td>@item.FullName</td>
                                        <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <button class="btn btn-default btn-show-data" data-name="
                                                    @if (string.IsNullOrEmpty(item.FullName))
                                                    {
                                                        @item.Email
                                                    }
                                                    else
                                                    {
                                                        @item.FullName
                                                    }
                                                    " data-id="@item.Id">Data</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Email</th>
                                    <th>Full Name</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="modal fade" id="modal-add-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    @*<form method="post" action="/Account/Register">*@
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create New User </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="fullname" id="fullname_create" placeholder="Fullname" required>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" name="email" id="email_create" placeholder="email" required>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" name="password" id="password_create" placeholder="Password" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Retype password" id="confirmpassword_create" name="confirmpassword" required>
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-create-user">Save changes</button>
                    </div>
                    @*</form>*@
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title box-title-data"></h3>
                <div style="float: right">
                    <button type="button" class="btn btn-box-tool btn-box-tool-data-minus" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool btn-box-tool-data-remove" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table id="example3" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Text</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="/Data/InsertData">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Inser Data</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="10" name="Text"></textarea>
                            <input type="hidden" name="userId" id="data-user-create" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modal-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="/Data/UpdateData">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit Data</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control data-text-edit" rows="10" name="Text"></textarea>
                            <input type="hidden" name="id" id="data-id-edit" value="" />
                            <input type="hidden" name="admin" value="admin" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .dataTables_info{
            display:none;
        }
    </style>
}


@section Scripts{
    <!-- jQuery 3 -->
    <script src="~/Content/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminlte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/adminlte/dist/js/demo.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example2').DataTable({

            })
            var table;
            var data;
        })
        $(document).ready(function () {
            //load data modal
            $('.btn-show-data').click(function () {
                var userId = $(this).attr('data-id');
                $('#example3 tbody').remove();
                $('#example3').DataTable().destroy();
                $('.box-title-data').html($(this).attr('data-name'));
                $('#example3').DataTable({
                    "ajax": {
                        "url": "/Data/GetData",
                        "type": "GET",
                        "data": function (d) {
                            d.userId = userId;
                        },
                        "dataType": "json",
                        "dataSrc": function (json) {
                          
                            return json.dataObject;
                        }
                    },
                    drawCallback: function (response) {
                    },
                    "columns": [
                        { "data": "Id", "name": "Id", "width": "5%" },
                        { "data": "Text", "name": "Text", "width": "80%" },
                        //{ "data": "TimeCreate", "name": "TimeCreate" },
                        {
                            "data": "Id",
                            "render": function (data, row, type) {
                                return `
                                <div class="text-center">
                                <a  class="btn btn-info text-white btn-edit" data-id="${data}"data-toggle="modal" data-target="#modal-edit"  style="cursor:pointer">
                                Edit  &nbsp;
                                </a>
                                <a  class="btn btn-danger text-white btn-delete" data-id="${data}" style="cursor:pointer">
                                Delete <i class="fas fa-trash-alt"></i> &nbsp;
                                </a>
                                </div>
                                `
                            },
                            "width": "15%"
                        }
                    ],
                    "serverSide": "true",
                    'searching': false,
                });
                table = $('#example3').DataTable();
                $(".btn-box-tool-user-minus").trigger("click");
            });
            $('.btn-create-user').click(function (e) {
                e.preventDefault();
                var model = {
                    fullname: $('#fullname_create').val(),
                    email: $('#email_create').val(),
                    password: $('#password_create').val(),
                    confirmpassword: $('#confirmpassword_create').val()
                }
                $.ajax({
                    type: "POST",
                    url: "/Account/RegisterUser",
                    data: model,
                    dataType: "json",
                    success: function (response) {
                        console.log(response.data);
                        console.log(response.data.length);
                        if (response.data.length == 0) {
                            location.reload();
                        }
                        else {
                            $('.validation-summary-valid ul').html('');
                            $.each(response.data, function (indexInArray, valueOfElement) {
                                $('.validation-summary-valid ul').append("<li>" + valueOfElement + "</li>");
                            });
                        }
                    }
                });
            });

            
            $('body').on('mouseenter', '#example3 tbody tr ', function () {
                data = table.row(this).data();
            });
            $('body').on('click', '.btn-edit', function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $('#data-id-edit').val(id);
                $('.data-text-edit').html(data.Text);
            });

            $('body').on('click', '.btn-delete', function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var model = {
                    id: id,
                    admin: "admin"
                };
                swal({
                    title: 'Are you sure?',
                    text: 'Once deleted, you will not be able to recover this data!',
                    icon: 'warning',
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            $.ajax({
                                type: "POST",
                                url: "/Data/DeleteData",
                                data: model,
                                dataType: "json",
                                success: function (response) {
                                }
                            });
                            location.reload();
                        } else {
                            //swal('Your imaginary file is safe!');
                        }
                    });
            });
        });

    </script>
}

